USE [E:\DBMS\RESTAURENTMANAGEMENTSYSTEM_TESTV3\BIN\DEBUG\RESTMANN.MDF]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 2/12/2026 8:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[total_price] [float] NULL,
	[date] [date] NULL,
	[amount] [float] NULL,
	[change] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2/12/2026 8:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[prod_id] [varchar](50) NOT NULL,
	[prod_name] [varchar](max) NULL,
	[prod_type] [varchar](max) NULL,
	[prod_price] [float] NULL,
	[order_date] [date] NULL,
	[delete_order] [date] NULL,
	[qty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2/12/2026 8:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prod_id] [varchar](50) NOT NULL,
	[prod_name] [varchar](max) NULL,
	[prod_type] [varchar](max) NULL,
	[prod_stock] [int] NULL,
	[prod_price] [float] NULL,
	[prod_status] [varchar](max) NULL,
	[prod_image] [varchar](max) NULL,
	[date_insert] [date] NULL,
	[date_update] [date] NULL,
	[date_delete] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/12/2026 8:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](max) NULL,
	[password] [varchar](max) NULL,
	[profile_image] [varchar](max) NULL,
	[role] [varchar](max) NULL,
	[status] [varchar](max) NULL,
	[date_reg] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [customer_id], [total_price], [date], [amount], [change]) VALUES (1, 1, 28007928, CAST(N'2025-11-15' AS Date), 28007950, 22)
INSERT [dbo].[customers] ([id], [customer_id], [total_price], [date], [amount], [change]) VALUES (2, 2, 4999995, CAST(N'2025-11-15' AS Date), 4999995, 0)
INSERT [dbo].[customers] ([id], [customer_id], [total_price], [date], [amount], [change]) VALUES (3, 3, 4999995, CAST(N'2025-11-15' AS Date), 5000000, 5)
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [customer_id], [prod_id], [prod_name], [prod_type], [prod_price], [order_date], [delete_order], [qty]) VALUES (1, 1, N'999', N'Car', N'Meal', 11999988, CAST(N'2025-11-14' AS Date), NULL, NULL)
INSERT [dbo].[orders] ([id], [customer_id], [prod_id], [prod_name], [prod_type], [prod_price], [order_date], [delete_order], [qty]) VALUES (2, 2, N'999', N'Car', N'Meal', 4999995, CAST(N'2025-11-14' AS Date), NULL, NULL)
INSERT [dbo].[orders] ([id], [customer_id], [prod_id], [prod_name], [prod_type], [prod_price], [order_date], [delete_order], [qty]) VALUES (3, 1, N'999', N'Car', N'Meal', 3999996, CAST(N'2025-11-14' AS Date), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [prod_id], [prod_name], [prod_type], [prod_stock], [prod_price], [prod_status], [prod_image], [date_insert], [date_update], [date_delete]) VALUES (1017, N'BRG_001', N'Chicken Whopper', N'Meal', 150, 15, N'Available', N'E:\DBMS\RestaurentManagementSystem_Test\Product_Directory\BRG_001.jpg', CAST(N'2025-11-15' AS Date), NULL, NULL)
INSERT [dbo].[products] ([id], [prod_id], [prod_name], [prod_type], [prod_stock], [prod_price], [prod_status], [prod_image], [date_insert], [date_update], [date_delete]) VALUES (1018, N'KOT_002', N'Dolphin Kottu', N'Meal', 45, 8.5, N'Available', N'E:\DBMS\RestaurentManagementSystem_Test\Product_Directory\KOT_002.jpg', CAST(N'2025-11-15' AS Date), NULL, NULL)
INSERT [dbo].[products] ([id], [prod_id], [prod_name], [prod_type], [prod_stock], [prod_price], [prod_status], [prod_image], [date_insert], [date_update], [date_delete]) VALUES (1019, N'DRK_005', N'Coca Cola (L)', N'Drinks', 500, 3, N'Available', N'E:\DBMS\RestaurentManagementSystem_Test\Product_Directory\DRK_005.jpg', CAST(N'2025-11-15' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [profile_image], [role], [status], [date_reg]) VALUES (1, N'admin', N'admin', N'E:\DBMS\RestaurentManagementSystem_Test\User_Directory\admin.jpg', N'Admin', N'Active', CAST(N'2025-11-11' AS Date))
INSERT [dbo].[users] ([id], [username], [password], [profile_image], [role], [status], [date_reg]) VALUES (2, N'cashier2', N'cashier2', N'E:\DBMS\RestaurentManagementSystem_Test\User_Directory\cashier2.jpg', N'Cashier', N'Approval', CAST(N'2025-11-11' AS Date))
INSERT [dbo].[users] ([id], [username], [password], [profile_image], [role], [status], [date_reg]) VALUES (6, N'Thilina', N'Thilina', N'E:\DBMS\RestaurentManagementSystem_Test\User_Directory\Thilina.jpg', N'Admin', N'Active', CAST(N'2025-11-12' AS Date))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
